<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>258309567948-vdn5g7n4ql4bfh36ac8uiqi5a7l5m2vm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258309567948-vdn5g7n4ql4bfh36ac8uiqi5a7l5m2vm</string>
	<key>API_KEY</key>
	<string>AIzaSyAkcg3aX6z5wuNvfsT7q6btsbbj-iqEf9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>258309567948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Firebase-Test.Firebase-Test</string>
	<key>PROJECT_ID</key>
	<string>fir-dmo-80f39</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-dmo-80f39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258309567948:ios:0ba77ed650de5d87321969</string>
</dict>
</plist>